
<h1>Hello Boss, Welcome :)</h1>
<a class="btn btn-primary" asp-controller="Product" asp-action="Index">Go to Products page</a>
<a class="btn btn-primary" asp-controller="Category" asp-action="Index">Go to Category page</a>
<a class="btn btn-primary" asp-controller="Customer" asp-action="Index">Go to Customer page</a>
<a class="btn btn-primary" asp-controller="Order" asp-action="Index">Go to Order page</a>