@using WebApplication1.Areas.Admin.Models;
@model ProductAddVM


<form asp-controller="Product" asp-action="Add" method="post" class="row g-3" enctype="multipart/form-data">
    <div class="row">
        <div class="col-md-4">
            <label for="1" class="form-label">Product Count</label>
            <input asp-for="Name" type="text" class="form-control" id="1">
        </div>
        <div class="col-md-4">
            <label for="2" class="form-label">Product Count</label>
            <input step="0.1" asp-for="Price" type="number" class="form-control" id="2">
        </div>
        <div class="col-md-4">
            <label for="5" class="form-label">Photo</label>
            <input asp-for="Photo" class="form-control" id="5">
        </div>
    </div>

    <div class="col-md-4">
        <label for="4" class="form-label">Type</label>
        <select asp-for="CategoryId" asp-items="@Model.Categories">
        <option>Please select one</option>
        </select>
    </div>
    <br />
    <div class="col-12">
        <button type="submit" class="btn btn-primary">Add Product</button>
    </div>
</form>